### Libraries

In [6]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

from Bio.Seq import Seq
from Bio import SeqIO
from Bio import Align
from Bio import AlignIO
from Bio.Align import substitution_matrices
from Bio.Data import IUPACData
from Bio.Blast import NCBIWWW, NCBIXML
from Bio.SeqRecord import SeqRecord
from Bio import pairwise2
from Bio.pairwise2 import format_alignment

import cafaeval
from cafaeval.evaluation import cafa_eval
from cafaeval.parser import obo_parser, gt_parser

from pathlib import Path
import os

import h5py

c:\ProgramData\anaconda3\Lib\site-packages\Bio\pairwise2.py:278: BiopythonDeprecationWarning: Bio.pairwise2 has been deprecated, and we intend to remove it in a future release of Biopython. As an alternative, please consider using Bio.Align.PairwiseAligner as a replacement, and contact the Biopython developers if you still need the Bio.pairwise2 module.
  warnings.warn(

Creating the path to the main folder we are going to use to create our datasets

In [7]:
# Path to train data
training_data_path = Path('../data/train')

# Path to test data
test_data_path = Path('../data/test')

# Path to baseline data
baseline_data_path = Path('../data/baseline')

# Training Set

In this section we are **creating the Training Set**, fusing togheter the data from:
- _train_set.tsv_
- _train_ids.txt_
- _train.fasta_
- _train_embeddings.h5_
- _train_protein2ipr.dat_
- _go-basic.obo_

### Extracting `train_set.tsv`

In [8]:
train_set = pd.read_csv(training_data_path / 'train_set.tsv', sep='\t')

# Rename Protein_ID and aspect columns
train_set.rename(columns={'Protein_ID': 'ID', 'aspect' : 'sub_ontology'}, inplace=True)

# Display the first few rows of the train set
train_set.head()

       ID        sub_ontology     GO_term
0  P91124  cellular_component  GO:0005575
1  P91124  cellular_component  GO:0110165
2  P91124  cellular_component  GO:0005737
3  P91124  cellular_component  GO:0005622
4  P91124  cellular_component  GO:0043226

### Extracting `train_ids.txt`

In [9]:
# Extracting train_ids.txt
with open(training_data_path / 'train_ids.txt', 'r') as file:
    train_ids = file.read().splitlines()

# Display the first few IDs to verify
print(train_ids[:5])

['P91124', 'Q55DL5', 'O81027', 'Q04418', 'Q8IXT2']

In [10]:
if len(train_ids) == len(train_set['ID'].unique()):
    print(f"The number of IDs in train_ids.txt is equal to the number of unique IDs in the train set ({len(train_ids)}).\n"
          "Proceeding with the analysis.")

The number of IDs in train_ids.txt is equal to the number of unique IDs in the train set (123969).
Proceeding with the analysis.

### Extracting `train.fasta`

In [11]:
train_fasta_list = list(SeqIO.parse(training_data_path / 'train.fasta', 'fasta'))

# Print the first sequence to verify
print(train_fasta_list[0])

ID: P91124
Name: P91124
Description: P91124
Number of features: 0
Seq('MAAQFYERNTSGMNADRFMTRLTDESTVNTMQRHYWTARQFIRTKLGKKEDEHL...NLL')

Let's transform it into a DataFrame

In [12]:
# Extract relevant information from SeqRecord
train_fasta_dict = [{
    'id': record.id,
    'name': record.name,
    'description': record.description,
    'num_features': len(record.features),
    'sequence': record.seq,
} for record in train_fasta_list]

# Create a DataFrame from the extracted data
train_fasta = pd.DataFrame(train_fasta_dict)

# Display the DataFrame
train_fasta.head()

,id,name,description,num_features,sequence
0,P91124,P91124,P91124,0,"(M, A, A, Q, F, Y, E, R, N, T, S, G, M, N, A, ..."
1,Q55DL5,Q55DL5,Q55DL5,0,"(M, S, E, I, L, I, D, S, E, L, L, S, C, P, I, ..."
2,O81027,O81027,O81027,0,"(M, Q, W, N, G, V, R, R, A, H, S, I, W, C, K, ..."
3,Q04418,Q04418,Q04418,0,"(M, D, L, L, G, D, I, V, E, K, D, T, S, D, S, ..."
4,Q8IXT2,Q8IXT2,Q8IXT2,0,"(M, E, P, S, D, M, P, A, G, Y, H, C, P, L, D, ..."

Checking if `id`, `name` and `description` have the same information

In [13]:
# Checking for differences between the id and name columns
diff_id_name = sum(train_fasta['id'] != train_fasta['name'])

# Checking for differences between the id and description columns
diff_id_description = sum(train_fasta['id'] != train_fasta['description'])

print(f"We have a total of {diff_id_name} differences between the id and name columns.\nWe have a total of {diff_id_description} differences between the id and description columns.")

We have a total of 0 differences between the id and name columns.
We have a total of 0 differences between the id and description columns.

Checking if `num_features` has value different from 0

In [14]:
num_features_values = sum(train_fasta['num_features'] != 0)

print(f"We have a total of {num_features_values} sequences with features.")

We have a total of 0 sequences with features.

**Nice!**

We found that `id`, `name` and `description` columns are the same. We can remove two of them (`name`, `descritpion`). 

In the same way we saw that `num_features` is not very informative since it has only 0, let's remove it as well

In [15]:
train_fasta.drop(columns=['name', 'description', 'num_features'], inplace=True)


train_fasta.head()

       id                                           sequence
0  P91124  (M, A, A, Q, F, Y, E, R, N, T, S, G, M, N, A, ...
1  Q55DL5  (M, S, E, I, L, I, D, S, E, L, L, S, C, P, I, ...
2  O81027  (M, Q, W, N, G, V, R, R, A, H, S, I, W, C, K, ...
3  Q04418  (M, D, L, L, G, D, I, V, E, K, D, T, S, D, S, ...
4  Q8IXT2  (M, E, P, S, D, M, P, A, G, Y, H, C, P, L, D, ...

### Extracting `train_embeddings.h5`

In [16]:
filename = "train_embeddings.h5"

data_list = []

with h5py.File(training_data_path / filename, "r") as f:
    for dataset_name in f.keys():
        dataset = f[dataset_name][:]
        data_list.append([dataset_name, dataset])

train_embeddings = pd.DataFrame(data_list, columns=["id", "embeddings"])

train_embeddings.head()

           id                                         embeddings
0  A0A009IHW8  [0.0682, -0.04648, 0.001752, -0.00858, 0.00376...
1  A0A021WW32  [-0.01643, -0.001583, 0.00389, 0.0734, 0.01243...
2  A0A021WZA4  [0.007904, 0.0877, -0.001715, 0.03766, 0.01788...
3  A0A023FBW4  [0.002447, 0.007053, 0.06445, 0.00727, -0.0335...
4  A0A023FBW7  [0.04932, 0.02069, 0.10864, 0.01634, -0.05106,...

### Extracting `train_protein2ipr.dat`

In [17]:
train_protein2ipr = pd.read_csv(training_data_path / 'train_protein2ipr.dat', sep='\t')

# Rename Protein_ID and aspect columns
train_protein2ipr.columns = ['id', 'ipr', 'domain', 'familyID', 'start', 'end']

# Display the first few rows of the train set
train_protein2ipr.head()

,id,ipr,domain,familyID,start,end
0,A0A009IHW8,IPR000157,Toll/interleukin-1 receptor homology (TIR) domain,PS50104,133,266
1,A0A009IHW8,IPR000157,Toll/interleukin-1 receptor homology (TIR) domain,SM00255,134,258
2,A0A009IHW8,IPR035897,Toll/interleukin-1 receptor homology (TIR) dom...,G3DSA:3.40.50.10140,80,266
3,A0A009IHW8,IPR035897,Toll/interleukin-1 receptor homology (TIR) dom...,SSF52200,128,249
4,A0A021WW32,IPR006910,"Rad21/Rec8-like protein, N-terminal",PF04825,1,103

Still have to understand what *tizio, caio, sempronio* are.

### Extracting `go-basic.obo`

In [18]:
import re

file_path = "../data/train/go-basic.obo"  # Replace with your file path

# Step 1: Initialize storage for GO terms
go_terms = []

# Step 2: Parse the .obo file
with open(file_path, 'r') as file:
    current_term = {}
    for line in file:
        line = line.strip()
        
        # Start of a new term
        if line == "[Term]":
            if current_term:  # Save the previous term
                go_terms.append(current_term)
            current_term = {}  # Start a new term
            
        elif line.startswith("id:"):
            current_term['id'] = line.split("id: ")[1]
            
        elif line.startswith("alt_id:"):
            alt_id = line.split("alt_id: ")[1]
            current_term.setdefault('alt_ids', []).append(alt_id)
            
        elif line.startswith("name:"):
            current_term['name'] = line.split("name: ")[1]
            
        elif line.startswith("namespace:"):
            current_term['namespace'] = line.split("namespace: ")[1]
            
        elif line.startswith("is_a"):
            match = re.search(r"GO:\d+", line)  # Search for GO ID
            if match:  # Check if a match was found
                is_a_id = match.group()
                current_term.setdefault('is_a', []).append(is_a_id)
                
        elif line.startswith("relationship: part_of"):
            match = re.search(r"GO:\d+", line)  # Search for GO ID
            if match:  # Check if a match was found
                part_of_id = match.group()
                current_term.setdefault('part_of', []).append(part_of_id)

            
    # Add the last term
    if current_term:
        go_terms.append(current_term)

# Step 3: Create a unified list of all IDs (primary and alt_ids)
expanded_terms = []
for term in go_terms:
    primary_id = term['id']
    alt_ids = term.get('alt_ids', [])
    all_ids = [primary_id] + alt_ids
    
    for term_id in all_ids:
        expanded_terms.append({
            'id': term_id,
            'name': term.get('name'),
            'namespace': term.get('namespace'),
            'is_a': term.get('is_a', []),
            'part_of': term.get('part_of', [])
        })

# Step 4: Convert to a DataFrame
df = pd.DataFrame(expanded_terms)

# Step 5: Filter by namespace and explode relationships
df_is_a = df.explode('is_a').dropna(subset=['is_a'])
df_part_of = df.explode('part_of').dropna(subset=['part_of'])


print("All IDs with namespaces:")
df.head()

All IDs with namespaces:

,id,name,namespace,is_a,part_of
0,GO:0000001,mitochondrion inheritance,biological_process,"[GO:0048308, GO:0048311]",[]
1,GO:0000002,mitochondrial genome maintenance,biological_process,[GO:0007005],[]
2,GO:0000003,reproduction,biological_process,[GO:0008150],[]
3,GO:0019952,reproduction,biological_process,[GO:0008150],[]
4,GO:0050876,reproduction,biological_process,[GO:0008150],[]

In [19]:
print("'is_a' relationships:")
df_is_a.head()

'is_a' relationships:

,id,name,namespace,is_a,part_of
0,GO:0000001,mitochondrion inheritance,biological_process,GO:0048308,[]
0,GO:0000001,mitochondrion inheritance,biological_process,GO:0048311,[]
1,GO:0000002,mitochondrial genome maintenance,biological_process,GO:0007005,[]
2,GO:0000003,reproduction,biological_process,GO:0008150,[]
3,GO:0019952,reproduction,biological_process,GO:0008150,[]

In [20]:
print("'part_of' relationships:")
df_part_of.head()

'part_of' relationships:

,id,name,namespace,is_a,part_of
16,GO:0000015,phosphopyruvate hydratase complex,cellular_component,[GO:1902494],GO:0005829
22,GO:0000022,mitotic spindle elongation,biological_process,"[GO:0051231, GO:1903047]",GO:0000070
22,GO:0000022,mitotic spindle elongation,biological_process,"[GO:0051231, GO:1903047]",GO:0007052
23,GO:1905121,mitotic spindle elongation,biological_process,"[GO:0051231, GO:1903047]",GO:0000070
23,GO:1905121,mitotic spindle elongation,biological_process,"[GO:0051231, GO:1903047]",GO:0007052

## Merging all previous extractions

Let us collect the dataframes and check lengths. Noting that:
- _train_set.tsv_ contains the proteins, their GO annotations and their corresponding aspects which will be used to subdivde it into three separate datasets
- _train.fasta_
- _train_embeddings.h5_
- _train_protein2ipr.dat_
- _go-basic.obo_

In [30]:
# Create a function to group by ID and combine GO_terms into a list
def group_and_combine(df, sub_ontology_value):
    return df[df['sub_ontology'] == sub_ontology_value].groupby('ID')['GO_term'].apply(list).reset_index()

# Create three dataframes for each sub_ontology value
df_CC = group_and_combine(train_set, 'cellular_component')
df_MF = group_and_combine(train_set, 'molecular_function')
df_BP = group_and_combine(train_set, 'biological_process')

# Display the first few rows of each dataframe to verify
print(f"Cellular Component ({df_BP.shape[0]}):")
df_CC.head()

Cellular Component (83064):

           ID                                            GO_term
0  A0A021WW32  [GO:0005575, GO:0110165, GO:0000785, GO:003299...
1  A0A021WZA4  [GO:0005575, GO:0110165, GO:0071944, GO:000588...
2  A0A023GPJ3  [GO:0005575, GO:0110165, GO:0005622, GO:000582...
3  A0A023GUT0   [GO:0005575, GO:0110165, GO:0005576, GO:0005615]
4  A0A023IM54  [GO:0005575, GO:0005737, GO:0042175, GO:003299...

In [31]:
print(f"Molecular Function ({df_MF.shape[0]}):")
df_MF.head()

Molecular Function (55698):

           ID                                            GO_term
0  A0A009IHW8  [GO:0016798, GO:0003824, GO:0016799, GO:001678...
1  A0A023FBW4  [GO:0005515, GO:0019955, GO:0019956, GO:000367...
2  A0A023FBW7  [GO:0005515, GO:0019955, GO:0019956, GO:000367...
3  A0A023FDY8  [GO:0005515, GO:0019955, GO:0019956, GO:000367...
4  A0A023FF81  [GO:0005515, GO:0019955, GO:0019956, GO:000367...

In [32]:
print(f"Biological Process ({df_BP.shape[0]}):")
df_BP.head()

Biological Process (83064):

           ID                                            GO_term
0  A0A009IHW8  [GO:0072524, GO:0006796, GO:1901361, GO:000905...
1  A0A021WW32  [GO:0009891, GO:0019222, GO:0010556, GO:000989...
2  A0A023FFD0  [GO:0030336, GO:0050920, GO:0048523, GO:000996...
3  A0A023GPJ3  [GO:1903530, GO:0051051, GO:0046883, GO:004852...
4  A0A023GPK8  [GO:0008150, GO:2000027, GO:0050789, GO:002260...

In [24]:
print(train_set.shape)
print(train_protein2ipr.shape)
print(train_fasta.shape)
print(train_embeddings.shape)

(4277047, 3)
(1103545, 6)
(123969, 2)
(123969, 2)

# Test set

In this section we are **creating the Test set**, fusing togheter the data from:
- _test_ids.txt_
- _test.fasta_
- _test_embeddings.h5_
- _test_protein2ipr.dat_
- _blast_test_results.tsv_

### Extracting `test_ids.txt`

### Extracting `test.fasta`

### Extracting `test_embeddings.h5`

### Extracting `test_protein2ipr.dat`

### Extracting `blast_test_results.tsv`